{% extends "blog/base.html" %}

{% block title %}Categorias{% endblock %}

{% block content %}
<h2>Lista de Categorias</h2>

<ul class="category-list">
    {% for cat in categorias %}
        <li>
            <a class="btn btn-secondary" href="{% url 'category_detail' cat.id %}">{{ cat.nome }}</a>
        </li>
    {% empty %}
        <p>Nenhuma categoria cadastrada.</p>
    {% endfor %}
</ul>

<a class="btn btn-primary" href="{% url 'category_create' %}">Criar nova categoria</a>
{% endblock %}
